<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHYx8pnut5buzVIL8ZcO_jRgE4RjVzq24</string>
	<key>GCM_SENDER_ID</key>
	<string>971530207266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ase456Hw8IndividualProject</string>
	<key>PROJECT_ID</key>
	<string>timemanagement-ase456-hw8</string>
	<key>STORAGE_BUCKET</key>
	<string>timemanagement-ase456-hw8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971530207266:ios:d0744f805f317c72310a7b</string>
</dict>
</plist>